/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body{
    background-color: #e8e8e8;
    background: url(/img/ellipse_1_copy_4.jpg) 50% 130px no-repeat;
    

}
.block {
    padding: 168px 0 137px 0;
     max-width: 841px;
     margin:0px auto;
}

.top {
margin: 0 0 70px 0;
}

.trev {
    opacity: 0.6;
        font-family: Arial;
        font-size: 14px;
        line-height: 40px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #273d46;
        text-align: center;
        margin: 0px 0px 15px 0px;
}

.text1 {
    font-family: 'Times New Roman';
        font-size: 36px;
        line-height: 50px;
        font-weight: 400;
        color: #273d46;
        text-align: center;
}

.image {
        box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
        background-color: white;
        padding: 10px;
        margin: 0 0 85px 0;
}

.bottom {
    padding: 0 45px;
}

.bottom-text {

    opacity: 0.8;
        font-family: 'Times New Roman';
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
        color: #273d46;
        max-width: 740px;
        margin: 0 0 48px 0;
}

.bottom-text p{
    margin: 0 0 40px 0;    
}

.bottom-text p:last-child {
    margin: 0;
}

.list {
font-family: Arial;
font-size: 20px;
    line-height: 36px;
}

.list li{
    font-family: Arial;
    margin: 0 0 13px 0;
}

.list li:before {
    content:url(/img/check_icon_37.png);
    margin: 10px;
    width: 25px;
    height: 19px;
}

.list li:nth-child(1) {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    color: #273d46;
}

.list li:nth-child(2) {
    font-style: italic;
    color: #80b7b3;
}

.list li:nth-child(3) {
    font-weight: 700;
    color: #273d46
}

.list li:nth-child(4) {
    text-decoration: line-through;
    color: #273d46;
    
}

.list li:nth-child(4) span{
    opacity: 0.3;
}

.list li:last-child{
    margin: 0 0 50px 0;
}

.button {
    display: inline-block;
    line-height: 44px;;
    height: 44px;
    padding: 0 30px;
    background-color:#80b7b3 ;
    border-radius: 20px;
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}
.bottom span{
    padding: 0 30px 0 0;
    background: url(/img/shape_2_9.png)right no-repeat;
}